@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #004a9e; 
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background: #102c61; 
}

.animated-gradient {
  background: linear-gradient(270deg, #00aeff, #00ffff, #00bfff, #6df3ff, #00ff95, #00ffff, #00bfff, #00ff7b);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Estilos personalizados para o carrossel */
.mobile-carousel .slick-slide {
  padding: 10px;
  transition: transform 0.3s ease;
}

.mobile-carousel .slick-arrow {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 10;
}

.mobile-carousel .slick-prev {
  left: 10px;
}

.mobile-carousel .slick-next {
  right: 10px;
}

.mobile-carousel .slick-arrow:hover {
  background-color: white;
}

/* Estilos personalizados para o carrossel */
.mobile-carousel {
  padding-bottom: 40px;
}

.mobile-carousel .slick-dots {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.mobile-carousel .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.mobile-carousel .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.mobile-carousel .slick-dots li.slick-active button {
  background: #fff;
  transform: scale(1.2);
}

.mobile-carousel .slick-dots li button:hover {
  background: #fff;
}

.mobile-carousel .slick-dots li button:before {
  display: none;
}

.mobile-carousel .slick-dots li {
  margin: 0 4px;
}